[submodule "french-cleat-wall"]
	path = french-cleat-wall
	url = https://github.com/Fox-Wood/french-cleat-wall.git
[submodule "french-cleat-clamp-holder"]
	path = french-cleat-clamp-holder
	url = https://github.com/Fox-Wood/french-cleat-clamp-holder.git
[submodule "french-cleat-sandpaper-holder"]
	path = french-cleat-sandpaper-holder
	url = https://github.com/Fox-Wood/french-cleat-sandpaper-holder.git
[submodule "french-cleat-router-holder"]
	path = french-cleat-router-holder
	url = https://github.com/Fox-Wood/french-cleat-router-holder.git
